In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [3]:
ID = "870612-1535200"

In [5]:
ID[7]

'1'

In [17]:
a = ['No', 'pain', 'No', 'gain']

In [20]:
result = " ".join(a)
result
# a[0]+" " +a[1]+" " +a[2]+" " +a[3]

'No pain No gain'

In [12]:
b = 'a:b:c:d'

In [13]:
b.replace( ":", "-")

'a-b-c-d'

# format()

In [27]:
# 출력결과물 : ‘구구단 3 X 2 = 6’
a=3
b=2
"구구단 {} X {} = {}".format(a, b, a*b)

'구구단 3 X 2 = 6'

In [16]:
a*b

6

In [29]:
10**2

100

In [31]:
apple = 5 
banana = 6
total = apple + banana
total

11

In [36]:
kor = 95 
math = 50
eng = 70 
score = (kor + math + eng)/3
score

71.66666666666667

## 입력한 숫자를 10과 비교하여 큰 수를 출력하는 프로그램을 작성하라.

In [42]:
num1 = 10
num2 = int(input("점수를 입력하세요"))

'{}과 {} 중 큰 수는 {}이다'.format(num1, num2, num2 if num2>num1 else num1)

점수를 입력하세요 40

'10과 40 중 큰 수는 40이다'

# 튜플

In [45]:
(1,2,3) + (4,5)

(1, 2, 3, 4, 5)

In [50]:
(1,2,3) + (4,) #튜플 구조에서 숫자를 하나 입력하려면 컴마를 입력해야 한다.

(1, 2, 3, 4)

In [53]:
a = {"a":1, "b":2, "c":3}

In [56]:
a["b"]

2

# 리스트 중복 제거 set -> list

In [79]:
a = [1, 2, 2, 3, 3, 4,4,4,4]

In [80]:
list(set(a))

[1, 2, 3, 4]

In [81]:
a = [1, 2, 3, ["a", "b", "c"],4, 5]

In [85]:
a[3][0:2]

['a', 'b']

## 조건문

문제1) 짝수, 홀수를 판별하는 조건문 완성하기
- 입력숫자가양수이면‘짝수입니다.’를출력 - 입력숫자가음수이면‘홀수입니다.’를출력 - input(), int() 함수를 활용


문제2) 음수, 양수를 판별하는 조건문 완성하기
- 입력숫자가0이면’00은0입니다.’를출력
- 입력숫자가양수이면’00은양수입니다.’를출력 
- 입력숫자가음수이면’00은음수입니다.’를출력 
- input(), int(), format 함수 활용

In [96]:
a = int(input())

if a%2 == 0 :
    print("짝수 입니다")
else :
    print("홀수 입니다.")

 5

홀수 입니다.

In [110]:
a = int(input())

if  a == 0:
    print("{}은 0입니다".format(a))
elif a < 0:
    print("{}은 음수입니다".format(a))
else :
    print("{}은 양수입니다")

 -1

-1은 음수입니다


- for문을 이용해 1부터 100까지 숫자 출력하기
- 단,5의배수만출력 - range() 함수를 활용

In [120]:
for i in range(5, 101, 5):
    print(i)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [121]:
A = [70, 60, 55, 75, 95, 90, 80, 85, 100]

In [129]:
total = 0
for i in A:
    total += i
mean = total/len(A)
mean

78.88888888888889