In [1]:
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd
from plotnine import *

# 피파 데이터 자료 문제(2021)

In [151]:
df=pd.read_csv('https://raw.githubusercontent.com/guebin/2021DV/master/_notebooks/2021-10-25-FIFA22_official_data.csv')
df.head()

,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Position,Best Overall Rating,Release Clause,DefensiveAwareness
0,212198,Bruno Fernandes,26,https://cdn.sofifa.com/players/212/198/22_60.png,Portugal,https://cdn.sofifa.com/flags/pt.png,88,89,Manchester United,https://cdn.sofifa.com/teams/11/30.png,...,65.0,12.0,14.0,15.0,8.0,14.0,CAM,88.0,€206.9M,72.0
1,209658,L. Goretzka,26,https://cdn.sofifa.com/players/209/658/22_60.png,Germany,https://cdn.sofifa.com/flags/de.png,87,88,FC Bayern München,https://cdn.sofifa.com/teams/21/30.png,...,77.0,13.0,8.0,15.0,11.0,9.0,CM,87.0,€160.4M,74.0
2,176580,L. Suárez,34,https://cdn.sofifa.com/players/176/580/22_60.png,Uruguay,https://cdn.sofifa.com/flags/uy.png,88,88,Atlético de Madrid,https://cdn.sofifa.com/teams/240/30.png,...,38.0,27.0,25.0,31.0,33.0,37.0,ST,88.0,€91.2M,42.0
3,192985,K. De Bruyne,30,https://cdn.sofifa.com/players/192/985/22_60.png,Belgium,https://cdn.sofifa.com/flags/be.png,91,91,Manchester City,https://cdn.sofifa.com/teams/10/30.png,...,53.0,15.0,13.0,5.0,10.0,13.0,CM,91.0,€232.2M,68.0
4,224334,M. Acuña,29,https://cdn.sofifa.com/players/224/334/22_60.png,Argentina,https://cdn.sofifa.com/flags/ar.png,84,84,Sevilla FC,https://cdn.sofifa.com/teams/481/30.png,...,82.0,8.0,14.0,13.0,13.0,14.0,LB,84.0,€77.7M,80.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16710 entries, 0 to 16709
Data columns (total 65 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        16710 non-null  int64
 1   Name                      16710 non-null  object
 2   Age                       16710 non-null  int64
 3   Photo                     16710 non-null  object
 4   Nationality               16710 non-null  object
 5   Flag                      16710 non-null  object
 6   Overall                   16710 non-null  int64
 7   Potential                 16710 non-null  int64
 8   Club                      16446 non-null  object
 9   Club Logo                 16710 non-null  object
 10  Value                     16710 non-null  object
 11  Wage                      16710 non-null  object
 12  Special                   16710 non-null  int64
 13  Preferred Foot            16710 non-null  object
 14  International Reputation  16710 non-null  float64
 15  Weak Foot                 16710 non-null  float64
 16  Skill Moves               16710 non-null  float64
 17  Work Rate                 16710 non-null  object
 18  Body Type                 16681 non-null  object
 19  Real Face                 16681 non-null  object
 20  Position                  16684 non-null  object
 21  Jersey Number             16684 non-null  float64
 22  Joined                    15198 non-null  object
 23  Loaned From               1132 non-null   object
 24  Contract Valid Until      16359 non-null  object
 25  Height                    16710 non-null  object
 26  Weight                    16710 non-null  object
 27  Crossing                  16710 non-null  float64
 28  Finishing                 16710 non-null  float64
 29  HeadingAccuracy           16710 non-null  float64
 30  ShortPassing              16710 non-null  float64
 31  Volleys                   16673 non-null  float64
 32  Dribbling                 16710 non-null  float64
 33  Curve                     16673 non-null  float64
 34  FKAccuracy                16710 non-null  float64
 35  LongPassing               16710 non-null  float64
 36  BallControl               16710 non-null  float64
 37  Acceleration              16710 non-null  float64
 38  SprintSpeed               16710 non-null  float64
 39  Agility                   16673 non-null  float64
 40  Reactions                 16710 non-null  float64
 41  Balance                   16673 non-null  float64
 42  ShotPower                 16710 non-null  float64
 43  Jumping                   16673 non-null  float64
 44  Stamina                   16710 non-null  float64
 45  Strength                  16710 non-null  float64
 46  LongShots                 16710 non-null  float64
 47  Aggression                16710 non-null  float64
 48  Interceptions             16702 non-null  float64
 49  Positioning               16702 non-null  float64
 50  Vision                    16673 non-null  float64
 51  Penalties                 16710 non-null  float64
 52  Composure                 16459 non-null  float64
 53  Marking                   892 non-null    float64
 54  StandingTackle            16710 non-null  float64
 55  SlidingTackle             16673 non-null  float64
 56  GKDiving                  16710 non-null  float64
 57  GKHandling                16710 non-null  float64
 58  GKKicking                 16710 non-null  float64
 59  GKPositioning             16710 non-null  float64
 60  GKReflexes                16710 non-null  float64
 61  Best Position             16710 non-null  object
 62  Best Overall Rating       16710 non-null  float64
 63  Release Clause            14961 non-null  object
 64  DefensiveAwareness        15818 non-null  float64
dtypes: float64(40), int64(5), object(20)
memory usage: 8.3+ MB

In [154]:
df.describe()

,ID,Age,Overall,Potential,Special,International Reputation,Weak Foot,Skill Moves,Jersey Number,Crossing,...,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Overall Rating,DefensiveAwareness
count,16710.000000,16710.000000,16710.000000,16710.000000,16710.000000,16710.000000,16710.000000,16710.000000,16684.000000,16710.000000,...,892.000000,16710.000000,16673.000000,16710.000000,16710.000000,16710.000000,16710.000000,16710.000000,16710.000000,15818.000000
mean,220560.467923,25.727409,67.646320,72.572292,1652.497307,1.169958,3.008199,2.475464,20.458643,52.212448,...,48.021300,49.155536,46.830564,15.683662,15.521364,15.457989,15.581927,15.789228,68.565410,48.019408
std,38496.607959,5.048910,6.457695,5.688085,257.271696,0.485305,0.681742,0.791414,17.699813,17.772348,...,21.904204,21.454857,21.175431,17.009757,16.302298,16.099993,16.584045,17.318251,6.256253,20.181354
min,27.000000,16.000000,28.000000,38.000000,571.000000,1.000000,1.000000,1.000000,1.000000,7.000000,...,4.000000,3.000000,6.000000,1.000000,1.000000,1.000000,1.000000,1.000000,36.000000,3.000000
25%,203891.250000,22.000000,63.000000,69.000000,1525.000000,1.000000,3.000000,2.000000,8.000000,42.000000,...,27.000000,29.000000,26.000000,8.000000,8.000000,8.000000,8.000000,8.000000,65.000000,30.000000
50%,229253.000000,25.000000,68.000000,72.000000,1687.000000,1.000000,3.000000,2.000000,17.000000,57.000000,...,53.000000,57.000000,54.000000,11.000000,11.000000,11.000000,11.000000,11.000000,68.000000,54.000000
75%,245368.750000,29.000000,72.000000,76.000000,1826.000000,1.000000,3.000000,3.000000,27.000000,65.000000,...,67.000000,67.000000,65.000000,14.000000,14.000000,14.000000,14.000000,14.000000,73.000000,65.000000
max,264704.000000,54.000000,93.000000,95.000000,2341.000000,5.000000,5.000000,5.000000,99.000000,94.000000,...,94.000000,93.000000,95.000000,91.000000,92.000000,93.000000,93.000000,90.000000,93.000000,93.000000

In [50]:
df[["Loaned From", "Marking"]]

      Loaned From  Marking
0             NaN      NaN
1             NaN      NaN
2             NaN      NaN
3             NaN      NaN
4             NaN      NaN
...           ...      ...
16705         NaN      5.0
16706         NaN      NaN
16707         NaN      NaN
16708         NaN      NaN
16709         NaN     15.0

[16710 rows x 2 columns]

In [155]:
b = df.drop(columns = ["Loaned From", "Marking"])

In [156]:
## (c) (b)의 결과에 .dropna()를 사용하여 결측치를 제거하는 코드를 작성하라. 
#몇개의 결측치가 제거되었는가?!
df["Marking"].isna().sum() #15818

15818

In [157]:
df2 = df.copy()

# 열 이름 한 번에 바꾸기 replace(' ','_')

In [77]:
df_ = df.set_axis(pd.Index(map(lambda x: x.replace(' ','_'), df.columns)), axis=1)

In [80]:
df_.head()

,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club_Logo,...,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best_Position,Best_Overall_Rating,Release_Clause,DefensiveAwareness
0,212198,Bruno Fernandes,26,https://cdn.sofifa.com/players/212/198/22_60.png,Portugal,https://cdn.sofifa.com/flags/pt.png,88,89,Manchester United,https://cdn.sofifa.com/teams/11/30.png,...,65.0,12.0,14.0,15.0,8.0,14.0,CAM,88.0,€206.9M,72.0
1,209658,L. Goretzka,26,https://cdn.sofifa.com/players/209/658/22_60.png,Germany,https://cdn.sofifa.com/flags/de.png,87,88,FC Bayern München,https://cdn.sofifa.com/teams/21/30.png,...,77.0,13.0,8.0,15.0,11.0,9.0,CM,87.0,€160.4M,74.0
2,176580,L. Suárez,34,https://cdn.sofifa.com/players/176/580/22_60.png,Uruguay,https://cdn.sofifa.com/flags/uy.png,88,88,Atlético de Madrid,https://cdn.sofifa.com/teams/240/30.png,...,38.0,27.0,25.0,31.0,33.0,37.0,ST,88.0,€91.2M,42.0
3,192985,K. De Bruyne,30,https://cdn.sofifa.com/players/192/985/22_60.png,Belgium,https://cdn.sofifa.com/flags/be.png,91,91,Manchester City,https://cdn.sofifa.com/teams/10/30.png,...,53.0,15.0,13.0,5.0,10.0,13.0,CM,91.0,€232.2M,68.0
4,224334,M. Acuña,29,https://cdn.sofifa.com/players/224/334/22_60.png,Argentina,https://cdn.sofifa.com/flags/ar.png,84,84,Sevilla FC,https://cdn.sofifa.com/teams/481/30.png,...,82.0,8.0,14.0,13.0,13.0,14.0,LB,84.0,€77.7M,80.0

In [83]:
df_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16710 entries, 0 to 16709
Data columns (total 65 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        16710 non-null  int64
 1   Name                      16710 non-null  object
 2   Age                       16710 non-null  int64
 3   Photo                     16710 non-null  object
 4   Nationality               16710 non-null  object
 5   Flag                      16710 non-null  object
 6   Overall                   16710 non-null  int64
 7   Potential                 16710 non-null  int64
 8   Club                      16446 non-null  object
 9   Club_Logo                 16710 non-null  object
 10  Value                     16710 non-null  object
 11  Wage                      16710 non-null  object
 12  Special                   16710 non-null  int64
 13  Preferred_Foot            16710 non-null  object
 14  International_Reputation  16710 non-null  float64
 15  Weak_Foot                 16710 non-null  float64
 16  Skill_Moves               16710 non-null  float64
 17  Work_Rate                 16710 non-null  object
 18  Body_Type                 16681 non-null  object
 19  Real_Face                 16681 non-null  object
 20  Position                  16684 non-null  object
 21  Jersey_Number             16684 non-null  float64
 22  Joined                    15198 non-null  object
 23  Loaned_From               1132 non-null   object
 24  Contract_Valid_Until      16359 non-null  object
 25  Height                    16710 non-null  object
 26  Weight                    16710 non-null  object
 27  Crossing                  16710 non-null  float64
 28  Finishing                 16710 non-null  float64
 29  HeadingAccuracy           16710 non-null  float64
 30  ShortPassing              16710 non-null  float64
 31  Volleys                   16673 non-null  float64
 32  Dribbling                 16710 non-null  float64
 33  Curve                     16673 non-null  float64
 34  FKAccuracy                16710 non-null  float64
 35  LongPassing               16710 non-null  float64
 36  BallControl               16710 non-null  float64
 37  Acceleration              16710 non-null  float64
 38  SprintSpeed               16710 non-null  float64
 39  Agility                   16673 non-null  float64
 40  Reactions                 16710 non-null  float64
 41  Balance                   16673 non-null  float64
 42  ShotPower                 16710 non-null  float64
 43  Jumping                   16673 non-null  float64
 44  Stamina                   16710 non-null  float64
 45  Strength                  16710 non-null  float64
 46  LongShots                 16710 non-null  float64
 47  Aggression                16710 non-null  float64
 48  Interceptions             16702 non-null  float64
 49  Positioning               16702 non-null  float64
 50  Vision                    16673 non-null  float64
 51  Penalties                 16710 non-null  float64
 52  Composure                 16459 non-null  float64
 53  Marking                   892 non-null    float64
 54  StandingTackle            16710 non-null  float64
 55  SlidingTackle             16673 non-null  float64
 56  GKDiving                  16710 non-null  float64
 57  GKHandling                16710 non-null  float64
 58  GKKicking                 16710 non-null  float64
 59  GKPositioning             16710 non-null  float64
 60  GKReflexes                16710 non-null  float64
 61  Best_Position             16710 non-null  object
 62  Best_Overall_Rating       16710 non-null  float64
 63  Release_Clause            14961 non-null  object
 64  DefensiveAwareness        15818 non-null  float64
dtypes: float64(40), int64(5), object(20)
memory usage: 8.3+ MB

### 이건 슬라이싱 해서 if 함수 사용하여 문자열을 다 떼주고 float으로 바꾼거

In [100]:
_f = lambda x: float(x[1:-1])*1000 if x[-1]=='K' else float(x[1:-1])*1000000
_f('€107.5M')
#이걸 그냥 사용하면 결측치가 걸릴경우 오류가 뜸

107500000.0

In [86]:
df.loc[df['Release Clause'].isna(), 'Release Clause']
#결측치가 있는 모습

9        NaN
37       NaN
43       NaN
67       NaN
72       NaN
        ...
16587    NaN
16591    NaN
16635    NaN
16693    NaN
16709    NaN
Name: Release Clause, Length: 1749, dtype: object

In [89]:
df_.assign(ReleaseClause = list(map(lambda x: _f(x) if pd.isna(x)==False else x , df['Release Clause'])))

,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club_Logo,...,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best_Position,Best_Overall_Rating,Release_Clause,DefensiveAwareness,ReleaseClause
0,212198,Bruno Fernandes,26,https://cdn.sofifa.com/players/212/198/22_60.png,Portugal,https://cdn.sofifa.com/flags/pt.png,88,89,Manchester United,https://cdn.sofifa.com/teams/11/30.png,...,12.0,14.0,15.0,8.0,14.0,CAM,88.0,€206.9M,72.0,206900000.0
1,209658,L. Goretzka,26,https://cdn.sofifa.com/players/209/658/22_60.png,Germany,https://cdn.sofifa.com/flags/de.png,87,88,FC Bayern München,https://cdn.sofifa.com/teams/21/30.png,...,13.0,8.0,15.0,11.0,9.0,CM,87.0,€160.4M,74.0,160400000.0
2,176580,L. Suárez,34,https://cdn.sofifa.com/players/176/580/22_60.png,Uruguay,https://cdn.sofifa.com/flags/uy.png,88,88,Atlético de Madrid,https://cdn.sofifa.com/teams/240/30.png,...,27.0,25.0,31.0,33.0,37.0,ST,88.0,€91.2M,42.0,91200000.0
3,192985,K. De Bruyne,30,https://cdn.sofifa.com/players/192/985/22_60.png,Belgium,https://cdn.sofifa.com/flags/be.png,91,91,Manchester City,https://cdn.sofifa.com/teams/10/30.png,...,15.0,13.0,5.0,10.0,13.0,CM,91.0,€232.2M,68.0,232200000.0
4,224334,M. Acuña,29,https://cdn.sofifa.com/players/224/334/22_60.png,Argentina,https://cdn.sofifa.com/flags/ar.png,84,84,Sevilla FC,https://cdn.sofifa.com/teams/481/30.png,...,8.0,14.0,13.0,13.0,14.0,LB,84.0,€77.7M,80.0,77700000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16705,240558,18 L. Clayton,17,https://cdn.sofifa.com/players/240/558/18_60.png,England,https://cdn.sofifa.com/flags/gb-eng.png,53,70,Cheltenham Town,https://cdn.sofifa.com/teams/1936/30.png,...,55.0,54.0,52.0,50.0,59.0,GK,52.0,€238K,NaN,238000.0
16706,262846,�. Dobre,20,https://cdn.sofifa.com/players/262/846/22_60.png,Romania,https://cdn.sofifa.com/flags/ro.png,53,63,FC Academica Clinceni,https://cdn.sofifa.com/teams/113391/30.png,...,57.0,52.0,53.0,48.0,58.0,GK,53.0,€279K,5.0,279000.0
16707,241317,21 Xue Qinghao,19,https://cdn.sofifa.com/players/241/317/21_60.png,China PR,https://cdn.sofifa.com/flags/cn.png,47,60,Shanghai Shenhua FC,https://cdn.sofifa.com/teams/110955/30.png,...,49.0,48.0,45.0,38.0,52.0,GK,47.0,€223K,21.0,223000.0
16708,259646,A. Shaikh,18,https://cdn.sofifa.com/players/259/646/22_60.png,India,https://cdn.sofifa.com/flags/in.png,47,67,ATK Mohun Bagan FC,https://cdn.sofifa.com/teams/113146/30.png,...,49.0,41.0,39.0,45.0,49.0,GK,47.0,€259K,7.0,259000.0
16709,178453,07 A. Censori,17,https://cdn.sofifa.com/players/178/453/07_60.png,Italy,https://cdn.sofifa.com/flags/it.png,28,38,Arezzo,https://cdn.sofifa.com/teams/110907/30.png,...,7.0,1.0,36.0,6.0,9.0,ST,36.0,NaN,NaN,NaN

# float형으로 수정하기 ex)€206.9M ---- value, wage ...

In [141]:
df=pd.read_csv('https://raw.githubusercontent.com/guebin/2021DV/master/_notebooks/2021-10-25-FIFA22_official_data.csv')

In [142]:
def convert_currency(value):
    floatvalue = 0.0
    strvalue=""
    if "M" in value:
        strvalue=value.replace("M","").replace("€","")
        floatvalue=float(float(strvalue)*1000000)
    elif "K" in value:
        strvalue=value.replace("K","").replace("€","")
        floatvalue=float(float(strvalue)*1000)
    else:
        floatvalue=value.replace("€","")
    return floatvalue

In [146]:
#그냥 위 함수를 적용시키려면 결측치로 인한 오류가 가득 뜨므로 일단 결측치 드랍해서 저장하기
df.dropna(subset=["Release Clause"], how='all', inplace=True)

In [147]:
#이제 결측치가 제거된 열에서 함수 적용하기 
df["ReleaseValue"] = df["Release Clause"].apply(convert_currency).astype(float)

In [148]:
df["Wage"] = df["Wage"].apply(convert_currency).astype(float)
df["Value"] = df["Value"].apply(convert_currency).astype(float)

In [149]:
dff = df[["Name","Age","Overall","Potential","Nationality","Club","Best Position","ReleaseValue","Wage","Value"]]
dff.head()

,Name,Age,Overall,Potential,Nationality,Club,Best Position,ReleaseValue,Wage,Value
0,Bruno Fernandes,26,88,89,Portugal,Manchester United,CAM,206900000.0,250000.0,107500000.0
1,L. Goretzka,26,87,88,Germany,FC Bayern München,CM,160400000.0,140000.0,93000000.0
2,L. Suárez,34,88,88,Uruguay,Atlético de Madrid,ST,91200000.0,135000.0,44500000.0
3,K. De Bruyne,30,91,91,Belgium,Manchester City,CM,232200000.0,350000.0,125500000.0
4,M. Acuña,29,84,84,Argentina,Sevilla FC,LB,77700000.0,45000.0,37000000.0

## 그룹화

In [12]:
df.groupby(by = "Nationality").mean()

,ID,Age,Overall,Potential,Special,International Reputation,Weak Foot,Skill Moves,Jersey Number,Crossing,...,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Overall Rating,DefensiveAwareness
Nationality,,,,,,,,,,,,,,,,,,,,,
Afghanistan,243927.500000,25.500000,65.000000,67.500000,1652.000000,1.000000,3.000000,2.500000,9.000000,62.000000,...,NaN,47.000000,47.000000,13.000000,6.500000,8.500000,11.000000,10.500000,65.500000,47.500000
Albania,222319.895833,25.770833,67.583333,71.812500,1677.854167,1.104167,2.958333,2.562500,20.583333,52.208333,...,57.333333,52.645833,49.333333,13.416667,12.729167,13.250000,13.479167,13.791667,68.500000,51.444444
Algeria,222166.982759,27.120690,71.517241,74.034483,1781.103448,1.379310,3.120690,2.913793,22.051724,60.137931,...,62.000000,52.155172,48.413793,13.482759,13.672414,13.068966,13.482759,14.051724,72.258621,49.452830
Andorra,192937.000000,31.000000,64.000000,64.000000,1548.000000,1.000000,3.000000,2.000000,3.000000,53.000000,...,NaN,62.000000,64.000000,9.000000,7.000000,12.000000,8.000000,6.000000,64.000000,56.000000
Angola,226766.450000,25.100000,69.050000,74.550000,1737.100000,1.100000,3.000000,2.950000,20.150000,58.000000,...,NaN,47.050000,44.250000,10.750000,9.950000,10.100000,10.700000,10.250000,69.800000,46.950000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,237245.539326,24.292135,66.707865,73.898876,1598.662921,1.101124,3.033708,2.426966,19.449438,49.168539,...,40.000000,46.067416,43.651685,14.910112,14.292135,14.629213,14.876404,14.955056,67.719101,46.367816
Vietnam,244753.000000,25.500000,63.000000,66.500000,1250.500000,1.000000,2.500000,1.500000,8.000000,23.500000,...,NaN,13.000000,13.500000,37.500000,35.000000,34.500000,39.000000,39.000000,62.500000,9.000000
Wales,213251.202532,25.297468,63.930380,69.493671,1606.436709,1.101266,2.981013,2.303797,18.411392,51.322785,...,54.769231,51.924051,49.816456,13.575949,13.658228,13.354430,13.620253,13.386076,64.987342,49.186207
Zambia,237191.200000,23.700000,67.800000,73.900000,1698.700000,1.000000,3.300000,2.900000,23.000000,49.300000,...,15.000000,37.400000,35.000000,12.800000,9.800000,9.500000,10.200000,10.800000,69.000000,38.666667
Zimbabwe,223104.000000,26.166667,67.500000,71.083333,1699.666667,1.083333,3.166667,2.583333,20.166667,53.333333,...,29.000000,50.666667,48.000000,10.500000,10.916667,10.083333,9.666667,10.166667,68.666667,49.363636

In [32]:
c = df.groupby(by = "Nationality").mean()

In [41]:
df [ df['Age'] < 20 ].groupby(by ="Nationality").mean()

,ID,Age,Overall,Potential,Special,International Reputation,Weak Foot,Skill Moves,Jersey Number,Crossing,...,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Overall Rating,DefensiveAwareness
Nationality,,,,,,,,,,,,,,,,,,,,,
Albania,261423.000000,18.000000,62.500000,78.000000,1626.500000,1.000000,3.000000,2.000000,31.500000,56.000000,...,NaN,64.500000,63.000000,8.500000,10.500000,12.500000,7.000000,9.000000,63.000000,50.500000
Algeria,258349.000000,18.000000,61.000000,72.000000,1555.000000,1.000000,2.000000,2.000000,34.000000,52.000000,...,NaN,37.000000,41.000000,11.000000,12.000000,12.000000,6.000000,13.000000,63.000000,41.000000
Angola,260530.666667,18.333333,60.666667,75.333333,1488.666667,1.000000,3.333333,2.666667,27.666667,60.000000,...,NaN,31.666667,22.666667,9.666667,10.000000,11.000000,9.666667,8.333333,61.666667,22.666667
Argentina,257282.382979,18.297872,63.021277,78.127660,1564.553191,1.000000,2.787234,2.255319,24.723404,51.787234,...,NaN,46.255319,45.382979,9.765957,11.340426,10.957447,10.340426,10.106383,64.446809,42.276596
Australia,257058.960000,18.280000,55.120000,70.760000,1334.720000,1.000000,2.600000,2.160000,29.120000,38.080000,...,NaN,36.400000,36.160000,17.520000,17.400000,16.800000,16.520000,17.240000,56.600000,31.760000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
United States,255393.828947,18.078947,57.421053,74.250000,1428.276316,1.013158,2.934211,2.223684,33.118421,42.421053,...,42.0,40.184211,38.407895,12.855263,13.210526,12.736842,13.065789,12.986842,59.118421,37.880000
Uruguay,256408.222222,18.388889,62.277778,76.055556,1531.611111,1.000000,2.666667,2.222222,24.833333,44.888889,...,73.0,42.555556,38.777778,12.666667,12.666667,15.000000,13.666667,11.777778,63.555556,37.588235
Venezuela,260400.200000,18.100000,60.150000,76.550000,1467.300000,1.000000,2.850000,2.250000,21.450000,44.700000,...,NaN,43.550000,40.950000,11.050000,9.400000,10.150000,9.800000,9.850000,61.550000,43.750000
Wales,255262.562500,18.375000,55.062500,71.375000,1384.750000,1.000000,2.937500,2.187500,35.562500,40.937500,...,41.0,44.312500,44.375000,9.687500,10.312500,9.125000,10.875000,9.875000,56.687500,40.533333
Zambia,256514.000000,18.000000,55.000000,74.000000,1432.000000,1.000000,3.000000,3.000000,47.000000,40.000000,...,NaN,29.000000,35.000000,9.000000,15.000000,8.000000,14.000000,14.000000,56.000000,32.000000

In [47]:
df[list(map(lambda x,y: (x<20)&(y>80), df.Age, df.Potential))]

,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Position,Best Overall Rating,Release Clause,DefensiveAwareness
300,248243,E. Camavinga,18,https://cdn.sofifa.com/players/248/243/22_60.png,France,https://cdn.sofifa.com/flags/fr.png,78,89,Real Madrid CF,https://cdn.sofifa.com/teams/243/30.png,...,76.0,12.0,6.0,8.0,12.0,12.0,CM,81.0,€66.4M,75.0
358,252371,J. Bellingham,18,https://cdn.sofifa.com/players/252/371/22_60.png,England,https://cdn.sofifa.com/flags/gb-eng.png,79,89,Borussia Dortmund,https://cdn.sofifa.com/teams/22/30.png,...,69.0,14.0,11.0,10.0,5.0,8.0,CM,81.0,€70.3M,78.0
373,246104,R. Gravenberch,19,https://cdn.sofifa.com/players/246/104/22_60.png,Netherlands,https://cdn.sofifa.com/flags/nl.png,78,90,Ajax,https://cdn.sofifa.com/teams/245/30.png,...,59.0,12.0,8.0,6.0,11.0,12.0,CAM,81.0,€52.8M,71.0
547,246669,B. Saka,19,https://cdn.sofifa.com/players/246/669/22_60.png,England,https://cdn.sofifa.com/flags/gb-eng.png,80,88,Arsenal,https://cdn.sofifa.com/teams/1/30.png,...,67.0,7.0,8.0,13.0,9.0,13.0,LM,81.0,€95.6M,65.0
703,251854,Pedri,18,https://cdn.sofifa.com/players/251/854/22_60.png,Spain,https://cdn.sofifa.com/flags/es.png,81,91,FC Barcelona,https://cdn.sofifa.com/teams/241/30.png,...,63.0,12.0,7.0,11.0,8.0,8.0,CAM,83.0,€121.5M,65.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16254,245822,D. Alemdar,18,https://cdn.sofifa.com/players/245/822/22_60.png,Turkey,https://cdn.sofifa.com/flags/tr.png,68,83,Stade Rennais FC,https://cdn.sofifa.com/teams/74/30.png,...,14.0,66.0,67.0,65.0,69.0,69.0,GK,68.0,€6.1M,8.0
16341,243585,G. Bazunu,19,https://cdn.sofifa.com/players/243/585/22_60.png,Republic of Ireland,https://cdn.sofifa.com/flags/ie.png,64,82,Portsmouth,https://cdn.sofifa.com/teams/1790/30.png,...,11.0,65.0,63.0,67.0,62.0,66.0,GK,64.0,€3.1M,16.0
16434,254803,S. Lammens,18,https://cdn.sofifa.com/players/254/803/22_60.png,Belgium,https://cdn.sofifa.com/flags/be.png,64,81,Club Brugge KV,https://cdn.sofifa.com/teams/231/30.png,...,12.0,70.0,60.0,58.0,58.0,67.0,GK,64.0,€2.6M,7.0
16504,263316,C. Chatzigavriel,17,https://cdn.sofifa.com/players/263/316/22_60.png,Cyprus,https://cdn.sofifa.com/flags/cy.png,58,84,NaN,https://cdn.sofifa.com/flags/cy.png,...,11.0,55.0,57.0,58.0,58.0,63.0,GK,58.0,NaN,20.0
16599,250831,C. Boyce-Clarke,18,https://cdn.sofifa.com/players/250/831/22_60.png,England,https://cdn.sofifa.com/flags/gb-eng.png,59,81,Reading,https://cdn.sofifa.com/teams/1793/30.png,...,13.0,62.0,57.0,63.0,56.0,60.0,GK,59.0,€1.9M,8.0

## 그룹화.agg()

In [158]:
df.groupby(by="Age").agg({'Potential':np.mean})

     Potential
Age
16   74.500000
17   75.736059
18   75.689935
19   74.965870
20   74.660802
21   74.672145
22   74.268335
23   74.389982
24   73.384934
25   72.357079
26   71.575875
27   70.581213
28   70.656732
29   70.347065
30   70.395018
31   70.830263
32   70.567568
33   71.222018
34   71.289238
35   71.284024
36   70.385366
37   70.394161
38   71.714286
39   69.183673
40   71.583333
41   64.700000
42   68.000000
43   70.250000
45   71.000000
54   59.000000

In [71]:
df.groupby(by='Club')['Age'].agg(np.mean)

Club
1. FC Heidenheim 1846        24.730769
1. FC Kaiserslautern         24.958333
1. FC Köln                   24.828571
1. FC Magdeburg              24.277778
1. FC Nürnberg               25.481481
                               ...
Östersunds FK                25.125000
İstanbul Başakşehir FK       28.129032
İttifak Holding Konyaspor    27.150000
ŁKS Łódź                     18.000000
Śląsk Wrocław                25.714286
Name: Age, Length: 869, dtype: float64

In [72]:
df.groupby(by=["Club","Nationality"]).agg({"Age":np.sum})

                                              Age
Club                  Nationality
1. FC Heidenheim 1846 Austria                  48
                      Bosnia and Herzegovina   20
                      Germany                 555
                      Italy                    20
1. FC Kaiserslautern  Bosnia and Herzegovina   24
...                                           ...
Śląsk Wrocław         Poland                  358
                      Portugal                 24
                      Spain                    79
                      Uruguay                  25
                      Zambia                   25

[5978 rows x 1 columns]

                                                                 Nationality
Club                  Age
1. FC Heidenheim 1846 19                                             Austria
                      20   GermanyGermanyGermanyBosnia and HerzegovinaIta...
                      21                                             Germany
                      22                                      GermanyGermany
                      23                                             Germany
...                                                                      ...
Śląsk Wrocław         28                                              Poland
                      29                                      Czech Republic
                      33                                              Poland
                      34                                  PolandPolandPoland
                      35                                              Poland

[8875 rows x 1 columns]